.form-items {
    display: flex;
    justify-content: space-between;
}

.create-edit-container {
    width: 60vw;
    margin: 0 auto;
    padding: 2rem;
}

.form-item {
    flex: 1;
    margin-bottom: 1rem;
}

.form-actions {
    display: flex;
    gap: 0.5rem;
}

input, select {
    width: 80%;
    height: 2rem;
}

.form-item span {
    color: red;
}

p {
    font-size: large;
}

.label-value {
    color:#808080;
}

.value {
    font-weight: bold;
    font-size: medium;
}