.login-container {
    width: 30vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.login-container h2 {
    font-size: 2rem;
}

input, select {
    width: 80%;
    height: 2rem;
}
